
.experience {
  background-image: url(../images/experience.webp);
  background-repeat: no-repeat;
  padding-top: 72px;
  padding-bottom: 72px;
  padding-right: 367px;
  padding-left: 366px;
  background-position: center;
  background-size: cover;
}
.experience-title {
  color: var(--title-color);
  text-align: center;

  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  max-width: 378px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.experience-text {
  color: var(--title-color);

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
  max-width: 467px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.experience-button {
  display: flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: var(--hover_text-color);
  color: var(--title-color);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 500ms linear, color 500ms linear;
}
.experience-button:hover {
  background-color: #fcf1e0;
  color: var(--hover_text-color);
}