.experience {
  background-image: url(../images/experience.webp);
  background-repeat: no-repeat;
  @include section-padding(
    $top: 72px,
    $bottom: 72px,
    $right: 367px,
    $left: 366px
  );
  background-position: center;
  background-size: cover;
  &__title {
    @include section-title();
    color: $title-color;
    max-width: 378px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__text {
    @include footer-text();
    margin-bottom: 24px;
    max-width: 467px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__button {
    @include flexbox($space: 14px, $alignment: flex-start);
    padding: 14px 40px;
    border-radius: 100px;
    background: $hover_text-color;
    color: $title-color;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 500ms linear, color 500ms linear;
    &:hover {
      background-color: $title-color;
      color: $hover_text-color;
    }
  }
}
