.footer {
  background-color: rgba(30, 24, 35, 1);
  @include section-padding(
    $top: 50px,
    $bottom: 50px,
    $left: 32px,
    $right: 32px
  );
  &__box1 {
    @include flexbox($direction: column);
  }
  &__box {
    @include flexbox();
    flex-wrap: wrap;
  }
  &__span1 {
    color: $hover_text-color;
    @include title($normal: -0.56px);
  }
  &__title {
    color: $title-color;
    @include title($normal: -0.56px);
    max-width: 300px;
    margin-right: auto;
    font-size: 24px;
    margin-bottom: 32px;
    @media screen and (min-width:1200px){
      font-size: 28px;
      margin-bottom: 0px;
    }
  }
  &__phrase {
    @include footer-text();
    margin-bottom: 14px;
  }
  &__link {
    @include footer-text();
  }
  &__text {
    @include footer-text();
  }
  &__span {
    @include footer-text();
  }
  &__list {
    @include flexbox($space: 24px);
    flex-direction: column;
    @media screen and (min-width:1200px){
      flex-direction: row;
    }
  }
  &__list1 {
    @include flexbox($direction: column);
  }
  &__item1 {
    @extend %navigation__text;
    color: $title-color;
    font-family: Montserrat;
    margin-bottom: 4px;
  }
  &__item {
    @include footer-text();
    transition: color 500ms linear;
    &:hover {
      color: $hover-color;
    }
  }
  &__navigation {
    border-top: solid rgba(255, 255, 255, 0.1);
    margin-top: 58px;
    padding-top: 24px;
    & a {
  color: aliceblue;
}
  }
  &__page {
    color: azure
  }
  &__icon {
    @extend %icons;
    fill: $logo-color;
    stroke: $title-color;
    &:hover {
      stroke: $hover-color;
    }
  }
}
