.header {
  @include section-padding($top: 26px, $bottom: 34px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(250, 250, 250, 50%);
  backdrop-filter: blur(5px);
  box-shadow: 0px 2px 60px 0px rgb(249, 249, 249),
    0px 2px 30px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  &__container {
    @include flexbox($alignment: center);
  }
  &__logo {
    color: $logo-color;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;
    margin-right: 188px;
    @include flexbox($space: 4px, $alignment: center);
    animation-name: move-logo;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: rgba(252, 241, 224, 1);
    stroke: rgba(253, 146, 34, 1);
    transition: stroke 1000ms linear;
    &:hover {
      stroke: $logo-color;
    }
  }
  &__menu {
    position: relative;
  }
  &__options {
    @include absolute($left: 0, $top: 30px);
    background-color: rgba(250, 250, 250, 25%);
    box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
    padding: 5px;
    backdrop-filter: blur(3px);
    border-radius: 3px;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms linear;
  }
  &__link:hover + &__menulist {
    opacity: 1;
  }
  &__link {
    height: 12px;
    color: $logo-color;
    text-shadow: 2px 3px 5px white;
  }
  &__list {
    @include flexbox($space: 24px);
  }
  &__page {
    color: $logo-color;
    @extend %navigation__text;
    position: relative;
    transition: color 500ms linear;
    &::after {
      content: "";
      @include absolute();
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $hover_text-color;
      margin-top: 5px;
      opacity: 0;
      transition: opacity 500ms linear;
    }
    &:hover::after {
      opacity: 1;
    }
    &:hover {
      color: $hover_text-color;
    }
  }
  &__socials {
    @include flexbox($space: 18px);
    margin-left: 137px;
    fill: transparent;
    stroke: $logo-color;
  }
  &__insta {
    @extend %icons;
  }

  &__twitter {
    @extend %icons;
  }
  &__twitt:hover &__twitter {
    stroke: $hover-color;
  }
  &__instagram:hover &__insta {
    stroke: $hover-color;
  }
}
