.hero {
  @include section-padding($bottom: 72px);
  animation-name: background-change;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  @media screen and (min-width: 768px) {
    @include section-padding($bottom: 50px);
  }
  @media screen and (min-width: 1200px) {
    @include section-padding($bottom: 72px);
  }
  &__container {
    background-color: black;
    background-image: url(../../images/mobile/hero@mobile-1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/mobile/hero@mobile-2x.webp);
    }
    @media screen and (min-width: 768px) {
      background-image: url(../../images/tablet/hero@tablet-1x.webp);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../../images/tablet/hero@mobile-2x.webp);
      }
    }
       @media screen and (min-width: 1200px) {
      background-image: url(../../images/desktop/hero@mobile-1x.webp);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../../images/desktop/hero@mobile-2x.webp);
      }
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include section-padding(
      $bottom: 20px,
      $left: 20px,
      $right: 20px,
      $top: 395px
    );
    @media screen and (min-width: 768px) {
      @include section-padding(
        $bottom: 40px,
        $left: 40px,
        $right: 40px,
        $top: 671px
      );
    }
    @media screen and (min-width: 1200px) {
      @include section-padding(
        $bottom: 40px,
        $left: 40px,
        $right: 40px,
        $top: 380px
      );
    }
    border-radius: 30px;
  }
  &__title {
    color: $title-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.6px;
    @media screen and (min-width: 768px) {
      @include title($normal: -0.84px);
    }
    @media screen and (min-width: 1200px) {
      @include title($normal: -0.84px);
    }
    margin-bottom: 32px;
    max-width: 484px;
  }
  &__link {
    margin-bottom: 32px;
    @include flexbox($space: 14px);
    align-items: flex-start;
    @include button($size: 14px);
    padding: 12px 28px;
    width: 120px;
    height: 41px;
    @media screen and (min-width: 768px) {
      @include button($size: 14px);
      height: 45px;
      width: 144px;
    }
    @media screen and (min-width: 1200px) {
      @include button($size: 14px);
    }
    &:hover {
      background-color: $title-color;
      color: $hover_text-color;
    }
  }
  &__made {
    @include flexbox($space: 14px, $alignment: flex-start);
    // max-width: 159px;
    height: 41px;
    width: 159px;
    padding-top: 12px;
    padding-left: 28px;
    flex-shrink: 0;
    color: $title-color;
    @media screen and (min-width: 768px) {
      width: 183px;
      height: 45px;
      padding-top: 14px;
      padding-left: 40px;
      // max-width: 183px;
    }
    @include text-14();
    border-radius: 100px;
    border: 1px solid $title-color;
    transition: color 500ms linear, border 500ms linear,
      background-color 500ms linear;
    &:hover {
      color: $hover_text-color;
      border: 1px solid $hover_text-color;
      background-color: $title-color;
    }
  }
  &__list {
    @include flexbox($space: 14px);
  }
  &__text {
    color: $title-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.36px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.42px;
    }
  }
  &__content {
    @include flexbox($horizontal: space-between, $alignment: center);
    flex-wrap: wrap;
  }
  &__box {
    @include flexbox($space: 14px, $alignment: center);
  }
  &__arrow {
    width: 16px;
    height: 16px;
    fill: $hover-color;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      width: 22px;
      height: 22px;
    }
  }
  &__scroll {
    @include flexbox();
    width: 28px;
    height: 28px;
    background-color: $title-color;
    border-radius: 50%;
    align-items: center;
    transition: background-color 500ms linear, fill 500ms linear;
    animation-name: shadow-scroll;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media screen and (min-width: 768px) {
      width: 38px;
      height: 38px;
    }
    &:hover {
      background-color: $hover-color;
    }
  }
  &__scroll:hover &__arrow {
    fill: $title-color;
  }
}
