
.info {
  background: $nav-color;
  @include section-padding($top: 50px, $bottom: 50px);
  &__container {
  background-position: center;
}
&__list {
  @include flexbox($space: 88px)
}
&__subtitle {
  color: $title-color;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
&__icon {
  width: 32px;
  height: 32px;
  fill: $logo-color;
  stroke: $hover-color;
  margin-left: auto;
  margin-right: auto;
}
&__box {
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  @include flexbox( $alignment: center);
}

&__text {
  @include footer-text();
}
}




