.ingredient {
  @include section-padding($top: 128px, $bottom: 128px);
  &__title {
    @include section-title();
    max-width: 411px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }
  &__title__span {
    color: $hover_text-color;
    @include span();
  }
  &__text {
    @include footer-text();
    max-width: 486px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  &__list {
    @include flexbox($space: 19px);
  }
  &__item:hover .overlay {
    opacity: 1;
  }
  &__subtitle {
    @include footer-text();
    color: $nav-color;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__item:first-child &__subtitle {
    color: $title-color;
  }
  &__item:nth-child(3) &__subtitle {
    color: $title-color;
  }
  &__item {
    @include flexbox(
      $space: 36px,
      $direction: column,
      $horizontal: center,
      $alignment: flex-start
    );
    padding: 28px 36px 28px 28px;
    width: 270px;
    height: 270px;
    border-radius: 15px;
    border: 1px solid $hover_text-color;
    position: relative;
    transition: opacity 500ms linear;
  }
  &__item:first-child {
    background: $hover_text-color;
    border-color: transparent;
  }
  &__item:nth-child(3) {
    background: $nav-color;
    border-color: transparent;
  }

  &__img1 {
    width: 206px;
    height: 160px;
  }
}
.overlay {
  width: 100%;
  height: 100%;
  @include absolute($top: 0, $left: 0);
  background-color: $title-color;
  opacity: 0;
  padding: 20px;
  border-radius: 10px;
  outline: 1px solid $title-color;
  transition: opacity 500ms linear;
  &__title {
    color: $nav-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &__list {
    @include flexbox($space: 6px);
    margin-bottom: 14px;
  }
  &__chocolate {
    @include ingredient();
    background-color: #fd9222;
    color: $title-color;
  }
  &__benefits {
    @include ingredient();
    border: 1px solid $hover-color;
    background-color: $title-color;
    color: $logo-color;
  }
  &__box {
    overflow-y: scroll;
  }
  &__text {
    overflow: hidden;
    @include footer-text();
    max-width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
