.process {
  padding-bottom: 128px;
  &__title {
    color: $nav-color;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  &__span {
    color: $hover_text-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
  &__mainbox {
    display: flex;
    gap: 52px;
  }
  &__box {
    width: 516px;
    height: 400px;
    padding: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    background: $title-color;
  }
  &__video {
    width: 600px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 15px;
  }
  &__subtitle {
    color: $nav-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 28px;
  }
  &__list {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
  &__text {
    color: $nav-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background-image: url(../images/made-elips.webp);
      position: absolute;
      top: 5px;
      left: -20px;
    }
  }
}
