.process {
  @include section-padding($bottom: 128px);
  &__title {
    @include section-title();
    margin-bottom: 50px;
  }
  &__span {
    color: $hover_text-color;
    @include span();
  }
  &__mainbox {
    @include flexbox($space: 52px);
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }
  &__picture {
    border-radius: 15px;
    overflow: hidden;
  }
  &__img {
    max-width: 335px;
    @media screen and (min-width: 768px) {
      max-width: 614px;
      height: auto;
    }
    @media screen and (min-width: 1200px) {
      max-width: 600px;
    }
  }
  &__box {
    @media screen and (min-width: 768px) {
      width: 614px;
    }
    @media screen and (min-width: 1200px) {
      width: 516px;
      height: 400px;
    }
    width: 335px;
    height: 463px;
    padding: 32px;
    flex-shrink: 0;
    border-radius: 15px;
    background: $title-color;
  }
  &__video {
    width: 600px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 15px;
  }
  &__subtitle {
    color: $nav-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 28px;
    max-width: 307px;
    @media screen and (min-width: 1200px) {
      max-width: 350px;
    }
  }
  &__list {
    @include flexbox($space: 24px, $direction: column);
  }
  &__text {
    @include footer-text();
    text-align: initial;
    color: black;
    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background-image: url(../images/made-elips.webp);
      @include absolute($top: 5px, $left: -20px);
    }
  }
}
