.sellers {
  @include section-padding($bottom: 128px);
  &__title {
    @include section-title();
    margin-bottom: 50px;
  }
  &__span {
    color: $hover_text-color;
    text-align: center;
    @include span();
  }
  &__list {
    @include flexbox($space: 16px);
    margin-bottom: 32px;
  }
  &__box {
    @include flexbox($space: 567px);
  }
  &__text {
    @include footer-text();
    max-width: 407px;
  }
  &__button {
    border-radius: 100px;
    background: $hover_text-color;
    @include flexbox($alignment: center, $horizontal: center);
    padding: 14px 40px;
    min-width: 162px;
    color: $title-color;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    transition: background-color 500ms linear, color 500ms linear;
    &:hover {
      background-color: $title-color;
      color: $hover_text-color;
    }
  }
}
