.sellers {
  @include section-padding($bottom: 128px);
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  &__title {
    @include section-title();
    margin-bottom: 50px;
  }
  &__span {
    color: $hover_text-color;
    text-align: center;
    @include span();
  }
  &__img {
    max-width: 335px;
    @media screen and (min-width: 1200px) {
      max-width: 368px;
    }
  }
  &__list {
    @include flexbox($space: 16px);
    margin-bottom: 32px;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
  &__item:nth-child(3) {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  &__textmobile {
    padding-bottom: 32px;
    padding-top: 20px;
    @include footer-text();
    color: black;
    max-width: 407px;
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  &__box {
    @include flexbox($space: 20px);
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      gap: 567px;
    }
  }
  &__text {
    @include footer-text();
    color: black;
    max-width: 407px;
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
      text-align: left;
    }
  }
  &__button {
    border-radius: 100px;
    background: $hover_text-color;
    @include flexbox($alignment: center, $horizontal: center);
    padding: 14px 40px;
    min-width: 162px;
    color: $title-color;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    transition: background-color 500ms linear, color 500ms linear;
    &:hover {
      background-color: $title-color;
      color: $hover_text-color;
    }
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1200px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
