.users {
  @include section-padding($bottom: 128px);
  &__title {
    color: $nav-color;
    @include span();
    text-align: center;
    margin-bottom: 90px;
  }
  &__list {
    @include flexbox($space: 28px);
  }
  &__subtitle {
    color: $nav-color;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 24px;
  }
  &__text {
    @include footer-text();
    color: black;
  }
  &__box {
    max-width: 335px;
    @media screen and (min-width: 1200px){
      width: 360px;
    }
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: $title-color;
    box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
    min-height: 200px;
    @include section-padding(
      $left: 24px,
      $right: 24px,
      $bottom: 24px,
      $top: 56px
    );
    position: relative;
  }
  &__img {
    position: absolute;
    bottom: 160px;
    right: 110px;
    width: 80px;
    height: 80px;
  }
  &__button {
    @include flexbox($space: 14px, $horizontal: center, $alignment: flex-start);
    flex-shrink: 0;
    width: 222px;
    height: 50px;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid $hover_text-color;
    color: $nav-color;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    transition: background-color 500ms linear, color 500ms linear;
    &:hover {
      background-color: $hover_text-color;
      color: $title-color;
    }
  }
  &__span {
    color: $hover_text-color;
    text-align: center;
    @include span();
  }
  &__item:nth-child(2),
  &__item:nth-child(3) {
    display: none;
  }
  @media screen and (min-width:768px){
     &__item:nth-child(2){
      display: block;
     }
  }
  @media screen and (min-width: 1200px) {
    &__item:nth-child(2),
    &__item:nth-child(3) {
      display: block;
    }
  }
}
