
.users {
  padding-bottom: 128px;
}
.users-title {
  color: #111;

  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
}
.users-list {
  display: flex;
  gap: 28px;
}
.users-subtitle {
  color: #111;
  text-align: center;

  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 24px;
}
.users-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  text-align: center;
}
.users-box {
  width: 360px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: var(--title-color);
  box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
  min-height: 200px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 56px;
  position: relative;
}
.users-img {
  position: absolute;
  bottom: 160px;
  right: 140px;
  width: 80px;
  height: 80px;
}
.users-button {
  display: flex;
  width: 222px;
  height: 50px;
  padding: 14px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid var(--hover_text-color);
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  transition: background-color 500ms linear, color 500ms linear;
}
.users-button:hover {
  background-color: var(--hover_text-color);
  color: var(--title-color);
}
.users-span {
  color: var(--hover_text-color);
  text-align: center;

  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}