.buy {
  @include modal();
  max-width: 609px;
  @media screen and (min-width: 768px) {
    max-width: 605px;
  }
  height: 100vh;
  background: #fafafa;
  padding: 48px;
  overflow-y: scroll;
  &__icon {
    @include icon();
    stroke-width: 2px;
    stroke: #111;
  }
  &__close {
    @include absolute($top: 24px, $left: 300px);
    @media screen and (min-width: 768px) {
      @include absolute($top: 24px, $left: 550px);
    }
    background-color: transparent;
  }
  &__title {
    @include section-title();
  }
  &__span {
    color: #fd9222;
  }
  &__img {
    width: 120px;
    height: 107px;
  }
  &__item {
    width: 160px;
    height: 196px;
    padding: 24px 20px 18px 20px;
    @include flexbox(
      $direction: column,
      $horizontal: flex-end,
      $alignment: center,
      $space: 14px
    );
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
  }
  &__button {
    @include flexbox($horizontal: center, $alignment: flex-start, $space: 14px);
    padding: 8px 27px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fafafa;
    color: #111;
    @include text-14();
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  &__list {
    @include flexbox($space: 16px);
    margin-top: 32px;
    margin-bottom: 40px;
  }
  &__item:nth-child(1){
    margin-left: auto;
    margin-right: auto;
  }
  &__item:nth-child(2) {
    display: none;
    @media screen and (min-width: 700px) {
      display: block;
      display: flex;
    }
  }
  &__item:nth-child(3) {
    display: none;
    @media screen and (min-width: 700px) {
      display: block;
      display: flex;
    }
  }
}
.form {
  &__label {
    display: block;
    margin-bottom: 8px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.28px;
  }
  &__input {
    @include flexbox($space: 40px, $alignment: flex-start);
    padding: 22px 24px;
    align-self: stretch;
    border-radius: 13px;
    width: 263px;
    height: 45px;
    @media screen and (min-width: 768px) {
      width: 246px;
      height: 66px;
    }
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    color: rgba(64, 64, 64, 0.3);
    @include text-18();
    transition: box-shadow 500ms linear, outline 500ms linear;
  }
  &__input:hover,
  &__input:focus {
    box-shadow: 0px 5.445px 5.445px 0px;
    outline: none;
  }
  &__list {
    @include flexbox($space: 21px);
    margin-bottom: 18px;
    display: block;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &__input1 {
    margin-top: 14px;
    @media screen and (min-width: 768px) {
      margin-top: 26px;
    }
  }
  &__label2 {
    display: block;
    margin-bottom: 8px;
  }
  &__input2 {
    @include flexbox($space: 40px, $alignment: flex-start);
    width: 263px;
    @media screen and (min-width: 768px) {
      width: 513px;
    }
    padding: 22px 24px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    color: rgba(64, 64, 64, 0.3);
    @include text-18();
    transition: box-shadow 500ms linear, outline 500ms linear;
  }
  &__input2:hover {
    box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
    outline: none;
  }
  &__input11 {
    position: relative;
  }
  &__list2 {
    @include flexbox($space: 18px, $direction: column);
  }
  &__input23 {
    padding-left: 145px;
  }
  &__item23 {
    position: relative;
  }
  &__img2 {
    width: 32px;
    height: 24px;
    @include absolute($top: 48px, $left: 24px);
  }
  &__number2 {
    width: 43px;
    height: 22px;
    @include absolute($top: 52px, $left: 74px);
  }
  &__item24 {
    position: relative;
  }
  &__img21 {
    width: 44px;
    height: 30px;
    @include absolute($top: 45px, $left: 200px);
    z-index: 1;
    @media screen and (min-width: 768px) {
      @include absolute($top: 45px, $left: 445px);
    }
  }
  &__input18 {
    @include flexbox($space: 40px, $alignment: flex-start);
    width: 263px;
    height: 91px;
    @media screen and (min-width: 768px) {
      width: 513px;
      height: 137px;
    }
    padding: 22px 24px 93px 24px;
  }
  &__button {
    @include flexbox($space: 14px, $alignment: flex-start);
    padding: 14px 40px;
    border-radius: 100px;
    background: #fd9222;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 18px;
  }
}
