.feedback {
  @include modal();
  width: 516px;
  height: 414px;
  background: #fd9222;
  background-image: url(../images/background-choco.webp);
  background-repeat: no-repeat;
  background-position: bottom left;
  @include flexbox($alignment: center, $horizontal: center, $direction: column);
  &__title {
    max-width: 276px;
    @include section-title();
    font-style: normal;
    @include absolute($top: 163px, $left: 170px);
  }
  &__span {
    display: block;
  }
  &__text {
    color: #fff;
    @include text-18();
    line-height: 24px;
    margin-top: 8px;
    @include absolute($top: 250px, $left: 170px);
  }
}
