.rewiew {
  @include modal();
  width: 517px;
  height: 631px;
  background: #fafafa;
  padding: 40px;
  &__icon {
    @include icon();
    fill: black;
    stroke: black;
  }
  &__button {
    @include absolute($top: 24px, $left: 450px);
    background-color: transparent;
  }
  &__title {
    @include section-title();
    font-style: normal;
    max-width: 298px;
    margin-bottom: 40px;
  }
  &__span {
    color: #fd9222;
  }
  &__input {
    @include flexbox($space: 40px, $alignment: flex-start);
    padding: 22px 24px;
    align-self: stretch;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
    width: 437px;
    color: rgba(64, 64, 64, 0.3);
    @include text-18();
  }
  &__list {
    @include flexbox($space: 18px, $direction: column);
  }
  &__img {
    width: 32px;
    height: 24px;
    @include absolute($top: 23px, $left: 24px);
  }
  &__ua {
    padding-left: 176px;
  }
  &__number {
    color: #000;
    @include text-18();
    @include absolute($left: 74px, $top: 23px);
  }
  &__ua::before {
    content: "";
    height: 32px;
    width: 3px;
    background-color: gray;
    @include absolute($top: 0, $left: 0);
    display: block;
  }
  &__relative {
    position: relative;
  }
  &__entertext {
    height: 137px;
    @include flexbox($space: 40px, $alignment: flex-start);
    width: 437px;
    padding: 22px 24px 93px 24px;
  }
  &__send {
    display: inline-flex;
    padding: 14px 40px;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    background: #fd9222;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 32px;
  }
}
