@keyframes move-logo {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scaleX(1.1);
  }
}
@keyframes shadow-scroll{
  0%{
    box-shadow: 0px 0px 0px 0px rgba(255, 145, 1, 0.871);
    transform: rotate(0);
  }
  100%{
    box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, 0.5);
    transform: rotate(15deg);
  }
}
@keyframes background-change{
0%{
  background-color: white;
}
100%{
  background-color:rgba(253, 146, 34, 50%);

}
}