
    $logo-color: #111;
    $nav-color: #111;
    $title-color: #fff;
    $hover-color: #fd9222;
    $info-text-color: rgba(255, 255, 255, 0.7);
    $text-color: rgba(17, 17, 17, 0.7);
    $hover_text-color: #fd9222;
